---
layout: default
---
<script src="{{ "/styles/index.js" | prepend: site.baseurl }}"></script>
<div id="onepage">
  <div id="projects">
    <h2 class="my-mini-heading">{{ site.projects_btn }}</h2>
    <ul>
      {% assign sortedProjects = (site.projects | sort: 'date') | reverse %}
      {% for project in sortedProjects %}
      <li>
        <p class="my-item"><a href="{{ project.url | prepend: projects |prepend: site.baseurl}}" class="my-link">{{ project.name }}</a><br>
          <span class="my-item-sub">
          {{ project.description }}
        </span>
      {% endfor %}
    </ul>
    <!-- <div>
      <a onclick="hide_lists();" class="waves-effect waves-teal btn-flat btn-large">{{ site.close_btn }}</a>
    </div> -->
  </div>

  <div id="posts">

    <h2 class="my-mini-heading">{{ site.posts_btn }}</h2>

    <ul>
      {% for post in site.posts %}
      <li>
        <p class="my-item">
          <a href="{{ post.url | prepend: site.baseurl }}" class="my-link">{{ post.title }}</a><br>
          <span class="my-item-sub">{{ post.date | date: "%b %-d, %Y" }}</span>
        </p>
      </li>
      {% endfor %}
    </ul>

    <!-- <div>
      <a onclick="hide_lists();" class="waves-effect waves-teal btn-flat btn-large">{{ site.close_btn }}</a>
    </div> -->
  </div>

  <div id="aboutme">
    <h2 class="my-mini-heading">About</h2>
    <div id="aboutmetext" align="left">
      <p>
        Hi!
      </p>
      <p>
        I'm an interaction designer currently doing my master's degree in Digital Design at Aarhus University.
        I create interactive installations and experiments with processing and arduino. I also dabble in javascript and python.
      </p>
      <p>
        My work has been exhibited at Silkeborg Bad Kunstmuseum, Media Architecture Biennale 2014, Aarhus Psych Fest 2015, ACM: Creativity and Cognition 2015 and Aarhus Festuge 2016.
      </p>
      <p>
        I also teach and help students create technical prototypes at the Digital Design Lab at Aarhus University.
      </p>
    </div>
  </div>
</div>

<noscript>
  <div id="posts-noscript">

    <h2 class="my-mini-heading">{{ site.posts_btn }}</h2>

    <ul>
      {% for post in site.posts %}
      <li>
        <p class="my-item">
          <a href="{{ post.url | prepend: site.baseurl }}" class="my-link">{{ post.title }}</a><br>
          <span class="my-item-sub">{{ post.date | date: "%b %-d, %Y" }}</span>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="projects-noscript">
    <h2 class="my-mini-heading">{{ site.projects_btn }}</h2>
    <ul>
      {% for project in site.data.projects %}
      <li>
        <p class="my-item"><a href="{{ project.url | prepend: projects | prepend: site.baseurl}}" class="my-link">{{ project.name }}</a><br>
          <span class="my-item-sub">
        {{ project.description }}
      </span>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</noscript>
